In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf
import warnings
warnings.filterwarnings("ignore")

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# 1. Adjusting the input data to ensure that there are no variables that are causing confusion in the model
application_df=application_df.drop(['EIN','NAME','AFFILIATION'],axis=1)
application_df.head()

,APPLICATION_TYPE,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Generate our categorical variable list
application_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()

# Check the number of unique values in each column
application_df[application_cat].nunique()

APPLICATION_TYPE          17
CLASSIFICATION            71
USE_CASE                   5
ORGANIZATION               4
INCOME_AMT                 9
SPECIAL_CONSIDERATIONS     2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_counts=application_df.APPLICATION_TYPE.value_counts()
application_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Determine which values to replace if counts are less than ...?
replace_application = list(application_counts[application_counts < 700].index)

# Replace in dataframe
for app in replace_application:
    application_df.APPLICATION_TYPE = application_df.APPLICATION_TYPE.replace(app,"Other")
    
# Check to make sure binning was successful
application_df.APPLICATION_TYPE.value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
Other      804
T8         737
T7         725
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
classification_counts=application_df.CLASSIFICATION.value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# Determine which values to replace if counts are less than ..?
replace_class = list(classification_counts[classification_counts < 1000].index)

# Replace in dataframe
for cls in replace_class:
    application_df.CLASSIFICATION = application_df.CLASSIFICATION.replace(cls,"Other")
    
# Check to make sure binning was successful
application_df.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [8]:
# Generate our categorical variable lists
application_df[application_cat].nunique()

APPLICATION_TYPE          8
CLASSIFICATION            6
USE_CASE                  5
ORGANIZATION              4
INCOME_AMT                9
SPECIAL_CONSIDERATIONS    2
dtype: int64

In [9]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(application_df[application_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(application_cat)
encode_df.head()

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,CLASSIFICATION_C1000,CLASSIFICATION_C1200,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [10]:
# Merge one-hot encoded features and drop the originals
application_df=application_df.merge(encode_df,left_index=True, right_index=True)
application_df=application_df.drop(application_cat,1)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [11]:
# Split our preprocessed data into our features and target arrays
y = application_df.IS_SUCCESSFUL.values
X = application_df.drop(columns=["IS_SUCCESSFUL"]).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)


# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## 1. Running model with less features, and more neurons in model, and dataset with higher binning for application and classification column

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

number_input_features = len(X_train[0])
hidden_nodes_layer1 = 20
hidden_nodes_layer2 = 8

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

import os
from tensorflow.keras.callbacks import ModelCheckpoint

# Define the checkpoint path and filenames
os.makedirs("checkpoints/",exist_ok=True)
checkpoint_path = "checkpoints/weights.{epoch:02d}.hdf5"

model1_callback = ModelCheckpoint(filepath=checkpoint_path, verbose=1, save_weights_only=True, save_freq=100)

# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=50)

# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

2022-01-28 03:50:42.546410: I tensorflow/core/platform/cpu_feature_guard.cc:145] This TensorFlow binary is optimized with Intel(R) MKL-DNN to use the following CPU instructions in performance critical operations:  SSE4.1 SSE4.2
To enable them in non-MKL-DNN operations, rebuild TensorFlow with the appropriate compiler flags.
2022-01-28 03:50:42.546834: I tensorflow/core/common_runtime/process_util.cc:115] Creating new thread pool with default inter op setting: 8. Tune using inter_op_parallelism_threads for best performance.

Train on 25724 samples
Epoch 1/50
25724/25724 [==============================] - 1s 56us/sample - loss: 0.6488 - accuracy: 0.6168
Epoch 2/50
25724/25724 [==============================] - 1s 35us/sample - loss: 0.6175 - accuracy: 0.6517
Epoch 3/50
25724/25724 [==============================] - 1s 35us/sample - loss: 0.6129 - accuracy: 0.6540
Epoch 4/50
25724/25724 [==============================] - 1s 35us/sample - loss: 0.6110 - accuracy: 0.6565
Epoch 5/50
25724/25724 [==============================] - 1s 35us/sample - loss: 0.6105 - accuracy: 0.6568
Epoch 6/50
25724/25724 [==============================] - 1s 35us/sample - loss: 0.6097 - accuracy: 0.6574
Epoch 7/50
25724/25724 [==============================] - 1s 40us/sample - loss: 0.6086 - accuracy: 0.6582
Epoch 8/50
25724/25724 [==============================] - 1s 36us/sample - loss: 0.6086 - accuracy: 0.6578
Epoch 9/50
25724/25724 [==============================] - 1s 35us/sample - loss: 0.6084 - accuracy: 0.6574
Epoch 10/50
25724/25724 [==============================] - 1s 35us/sample - loss: 0.6079 - accuracy: 0.6587
Epoch 11/50
25724/25724 [==============================] - 1s 35us/sample - loss: 0.6080 - accuracy: 0.6565
Epoch 12/50
25724/25724 [==============================] - 1s 35us/sample - loss: 0.6077 - accuracy: 0.6562
Epoch 13/50
25724/25724 [==============================] - 1s 35us/sample - loss: 0.6076 - accuracy: 0.6571
Epoch 14/50
25724/25724 [==============================] - 1s 35us/sample - loss: 0.6070 - accuracy: 0.6595
Epoch 15/50
25724/25724 [==============================] - 1s 35us/sample - loss: 0.6070 - accuracy: 0.6578
Epoch 16/50
25724/25724 [==============================] - 1s 35us/sample - loss: 0.6071 - accuracy: 0.6586
Epoch 17/50
25724/25724 [==============================] - 1s 34us/sample - loss: 0.6065 - accuracy: 0.6588
Epoch 18/50
25724/25724 [==============================] - 1s 35us/sample - loss: 0.6067 - accuracy: 0.6587
Epoch 19/50
25724/25724 [==============================] - 1s 34us/sample - loss: 0.6063 - accuracy: 0.6568
Epoch 20/50
25724/25724 [==============================] - 1s 35us/sample - loss: 0.6063 - accuracy: 0.6585
Epoch 21/50
25724/25724 [==============================] - 1s 35us/sample - loss: 0.6061 - accuracy: 0.6584
Epoch 22/50
25724/25724 [==============================] - 1s 34us/sample - loss: 0.6062 - accuracy: 0.6585
Epoch 23/50
25724/25724 [==============================] - 1s 35us/sample - loss: 0.6060 - accuracy: 0.6602
Epoch 24/50
25724/25724 [==============================] - 1s 35us/sample - loss: 0.6059 - accuracy: 0.6590
Epoch 25/50
25724/25724 [==============================] - 1s 35us/sample - loss: 0.6058 - accuracy: 0.6571
Epoch 26/50
25724/25724 [==============================] - 1s 35us/sample - loss: 0.6052 - accuracy: 0.6585
Epoch 27/50
25724/25724 [==============================] - 1s 35us/sample - loss: 0.6055 - accuracy: 0.6579
Epoch 28/50
25724/25724 [==============================] - 1s 35us/sample - loss: 0.6056 - accuracy: 0.6592
Epoch 29/50
25724/25724 [==============================] - 1s 35us/sample - loss: 0.6051 - accuracy: 0.6571
Epoch 30/50
25724/25724 [==============================] - 1s 35us/sample - loss: 0.6054 - accuracy: 0.6579
Epoch 31/50
25724/25724 [==============================] - 1s 35us/sample - loss: 0.6053 - accuracy: 0.6578
Epoch 32/50
25724/25724 [==============================] - 1s 35us/sample - loss: 0.6049 - accuracy: 0.6574
Epoch 33/50
25724/25724 [==============================] - 1s 35us/sample - loss: 0.6053 - accuracy: 0.6585
Epoch 34/50
25724/25724 [==============================] - 1s 35us/sample - loss: 0.6054 - accuracy: 0.6588
Epoch 35/50
25724/25724 [==============================] - 1s 35us/sample - loss: 0.6051 - accuracy: 0.6590
Epoch 36/50
25724/25724 [==============================] - 1s 35us/sample - loss: 0.6050 - accuracy: 0.6585
Epoch 37/50
25724/25724 [==============================] - 1s 35us/sample - loss: 0.6048 - accuracy: 0.6606
Epoch 38/50
25724/25724 [==============================] - 1s 35us/sample - loss: 0.6043 - accuracy: 0.6597
Epoch 39/50
25724/25724 [==============================] - 1s 35us/sample - loss: 0.6045 - accuracy: 0.6597
Epoch 40/50
25724/25724 [==============================] - 1s 35us/sample - loss: 0.6046 - accuracy: 0.6580
Epoch 41/50
25724/25724 [==============================] - 1s 35us/sample - loss: 0.6045 - accuracy: 0.6596
Epoch 42/50
25724/25724 [==============================] - 1s 35us/sample - loss: 0.6043 - accuracy: 0.6574
Epoch 43/50
25724/25724 [==============================] - 1s 35us/sample - loss: 0.6045 - accuracy: 0.6603
Epoch 44/50
25724/25724 [==============================] - 1s 45us/sample - loss: 0.6043 - accuracy: 0.6592
Epoch 45/50
25724/25724 [==============================] - 1s 37us/sample - loss: 0.6043 - accuracy: 0.6599
Epoch 46/50
25724/25724 [==============================] - 1s 35us/sample - loss: 0.6043 - accuracy: 0.6603
Epoch 47/50
25724/25724 [==============================] - 1s 35us/sample - loss: 0.6041 - accuracy: 0.6603
Epoch 48/50
25724/25724 [==============================] - 1s 35us/sample - loss: 0.6041 - accuracy: 0.6583s
Epoch 49/50
25724/25724 [==============================] - 1s 36us/sample - loss: 0.6040 - accuracy: 0.6597
Epoch 50/50
25724/25724 [==============================] - 1s 36us/sample - loss: 0.6040 - accuracy: 0.6593
8575/1 - 0s - loss: 0.6147 - accuracy: 0.6546
Loss: 0.6073051625160018, Accuracy: 0.6545772552490234

## 2. Running model with additional hidden layer and lower epoch

In [13]:
# adding more layer to model

number_input_features = len(X_train[0])
hidden_nodes_layer1 = 20
hidden_nodes_layer2 = 8
hidden_nodes_layer3 = 6

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

import os
from tensorflow.keras.callbacks import ModelCheckpoint

model2_callback = ModelCheckpoint(filepath=checkpoint_path, verbose=1, save_weights_only=True, save_freq=100)

# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=30)

# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Train on 25724 samples
Epoch 1/30
25724/25724 [==============================] - 2s 59us/sample - loss: 0.6432 - accuracy: 0.6262
Epoch 2/30
25724/25724 [==============================] - 1s 38us/sample - loss: 0.6171 - accuracy: 0.6509
Epoch 3/30
25724/25724 [==============================] - 1s 37us/sample - loss: 0.6139 - accuracy: 0.6527
Epoch 4/30
25724/25724 [==============================] - 1s 38us/sample - loss: 0.6121 - accuracy: 0.6551
Epoch 5/30
25724/25724 [==============================] - 1s 38us/sample - loss: 0.6110 - accuracy: 0.6531
Epoch 6/30
25724/25724 [==============================] - 1s 38us/sample - loss: 0.6104 - accuracy: 0.6546
Epoch 7/30
25724/25724 [==============================] - 1s 38us/sample - loss: 0.6093 - accuracy: 0.6565
Epoch 8/30
25724/25724 [==============================] - 1s 38us/sample - loss: 0.6088 - accuracy: 0.6565
Epoch 9/30
25724/25724 [==============================] - 1s 37us/sample - loss: 0.6085 - accuracy: 0.6569
Epoch 10/30
25724/25724 [==============================] - 1s 38us/sample - loss: 0.6080 - accuracy: 0.6571
Epoch 11/30
25724/25724 [==============================] - 1s 37us/sample - loss: 0.6078 - accuracy: 0.6575
Epoch 12/30
25724/25724 [==============================] - 1s 38us/sample - loss: 0.6081 - accuracy: 0.6572
Epoch 13/30
25724/25724 [==============================] - 1s 37us/sample - loss: 0.6075 - accuracy: 0.6571
Epoch 14/30
25724/25724 [==============================] - 1s 37us/sample - loss: 0.6071 - accuracy: 0.6584
Epoch 15/30
25724/25724 [==============================] - 1s 41us/sample - loss: 0.6070 - accuracy: 0.6581
Epoch 16/30
25724/25724 [==============================] - 1s 40us/sample - loss: 0.6067 - accuracy: 0.6581
Epoch 17/30
25724/25724 [==============================] - 1s 42us/sample - loss: 0.6068 - accuracy: 0.6574
Epoch 18/30
25724/25724 [==============================] - 1s 37us/sample - loss: 0.6067 - accuracy: 0.6579
Epoch 19/30
25724/25724 [==============================] - 1s 40us/sample - loss: 0.6064 - accuracy: 0.6575
Epoch 20/30
25724/25724 [==============================] - 1s 42us/sample - loss: 0.6063 - accuracy: 0.6581
Epoch 21/30
25724/25724 [==============================] - 1s 42us/sample - loss: 0.6064 - accuracy: 0.6587
Epoch 22/30
25724/25724 [==============================] - 1s 38us/sample - loss: 0.6060 - accuracy: 0.6577
Epoch 23/30
25724/25724 [==============================] - 1s 42us/sample - loss: 0.6059 - accuracy: 0.6583
Epoch 24/30
25724/25724 [==============================] - 1s 39us/sample - loss: 0.6060 - accuracy: 0.6595
Epoch 25/30
25724/25724 [==============================] - 1s 38us/sample - loss: 0.6058 - accuracy: 0.6593
Epoch 26/30
25724/25724 [==============================] - 1s 37us/sample - loss: 0.6060 - accuracy: 0.6582
Epoch 27/30
25724/25724 [==============================] - 1s 37us/sample - loss: 0.6059 - accuracy: 0.6585
Epoch 28/30
25724/25724 [==============================] - 1s 39us/sample - loss: 0.6053 - accuracy: 0.6586
Epoch 29/30
25724/25724 [==============================] - 4s 160us/sample - loss: 0.6055 - accuracy: 0.6588
Epoch 30/30
25724/25724 [==============================] - 1s 38us/sample - loss: 0.6053 - accuracy: 0.6593
8575/1 - 0s - loss: 0.6137 - accuracy: 0.6552
Loss: 0.6089521706347563, Accuracy: 0.6551603674888611

## 3. Changing activation function on input and output layers

In [14]:
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 20
hidden_nodes_layer2 = 8


nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="sigmoid"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="sigmoid"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="tanh"))

# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

import os
from tensorflow.keras.callbacks import ModelCheckpoint

model3_callback = ModelCheckpoint(filepath=checkpoint_path, verbose=1, save_weights_only=True, save_freq=100)

# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=30)

# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Train on 25724 samples
Epoch 1/30
25724/25724 [==============================] - 1s 51us/sample - loss: 0.6443 - accuracy: 0.6300
Epoch 2/30
25724/25724 [==============================] - 1s 34us/sample - loss: 0.6216 - accuracy: 0.6491
Epoch 3/30
25724/25724 [==============================] - 1s 35us/sample - loss: 0.6216 - accuracy: 0.6490
Epoch 4/30
25724/25724 [==============================] - 1s 34us/sample - loss: 0.6185 - accuracy: 0.6494
Epoch 5/30
25724/25724 [==============================] - 1s 34us/sample - loss: 0.6176 - accuracy: 0.6492
Epoch 6/30
25724/25724 [==============================] - 1s 34us/sample - loss: 0.6181 - accuracy: 0.6485
Epoch 7/30
25724/25724 [==============================] - 1s 34us/sample - loss: 0.6157 - accuracy: 0.6496
Epoch 8/30
25724/25724 [==============================] - 1s 34us/sample - loss: 0.6146 - accuracy: 0.6515
Epoch 9/30
25724/25724 [==============================] - 1s 34us/sample - loss: 0.6142 - accuracy: 0.6502
Epoch 10/30
25724/25724 [==============================] - 1s 34us/sample - loss: 0.6133 - accuracy: 0.6514
Epoch 11/30
25724/25724 [==============================] - 1s 34us/sample - loss: 0.6142 - accuracy: 0.6516
Epoch 12/30
25724/25724 [==============================] - 1s 34us/sample - loss: 0.6124 - accuracy: 0.6519
Epoch 13/30
25724/25724 [==============================] - 1s 34us/sample - loss: 0.6127 - accuracy: 0.6532
Epoch 14/30
25724/25724 [==============================] - 1s 34us/sample - loss: 0.6126 - accuracy: 0.6536
Epoch 15/30
25724/25724 [==============================] - 1s 34us/sample - loss: 0.6137 - accuracy: 0.6540
Epoch 16/30
25724/25724 [==============================] - 1s 34us/sample - loss: 0.6128 - accuracy: 0.6546
Epoch 17/30
25724/25724 [==============================] - 1s 34us/sample - loss: 0.6109 - accuracy: 0.6551
Epoch 18/30
25724/25724 [==============================] - 1s 34us/sample - loss: 0.6104 - accuracy: 0.6546
Epoch 19/30
25724/25724 [==============================] - 1s 34us/sample - loss: 0.6110 - accuracy: 0.6569
Epoch 20/30
25724/25724 [==============================] - 1s 34us/sample - loss: 0.6105 - accuracy: 0.6556
Epoch 21/30
25724/25724 [==============================] - 1s 34us/sample - loss: 0.6115 - accuracy: 0.6570
Epoch 22/30
25724/25724 [==============================] - 1s 34us/sample - loss: 0.6115 - accuracy: 0.6553
Epoch 23/30
25724/25724 [==============================] - 1s 34us/sample - loss: 0.6087 - accuracy: 0.6560
Epoch 24/30
25724/25724 [==============================] - 1s 34us/sample - loss: 0.6106 - accuracy: 0.6551
Epoch 25/30
25724/25724 [==============================] - 1s 35us/sample - loss: 0.6082 - accuracy: 0.6567
Epoch 26/30
25724/25724 [==============================] - 1s 34us/sample - loss: 0.6084 - accuracy: 0.6569
Epoch 27/30
25724/25724 [==============================] - 1s 34us/sample - loss: 0.6084 - accuracy: 0.6560
Epoch 28/30
25724/25724 [==============================] - 1s 34us/sample - loss: 0.6116 - accuracy: 0.6545
Epoch 29/30
25724/25724 [==============================] - 1s 36us/sample - loss: 0.6094 - accuracy: 0.6574
Epoch 30/30
25724/25724 [==============================] - 1s 34us/sample - loss: 0.6073 - accuracy: 0.6572
8575/1 - 0s - loss: 0.6274 - accuracy: 0.6553
Loss: 0.6121071271298578, Accuracy: 0.6552769541740417

In [15]:
nn.save("AlphabetSoupCharity_Optimization.h5")